@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

$main-font: "Nixie One", sans-serif;
$primary-font: "Teko", sans-serif;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$beige: rgb(250, 247, 240);
$red: rgb(210, 43, 43);
